.top {
    background: linear-gradient(to left, #09a5b8, #076591);
}

.title {
    color: white;
}

.top-under {
    height: 2px;
    margin-top: 2px;
    margin-bottom: 48px;
    background: linear-gradient(to left, #09a5b8, #076591);
}

.doc-nav div {
    flex-grow: 1;
}

.doc-nav a {
  padding: 2px 10px 2px 18px;
  text-decoration: none;
  color: #076591;
  background: white;
  display: block;
  font-size: 0.8rem;
  border-left: solid #076591 2.5px;
}

.doc-nav .selected {
  background: #0765911a;
}
  
.doc-nav a:hover {
  background: #0765911a;
}

@media (max-width: 1250px) {
    .top-under {
        margin-bottom: 0;
    }
    .doc-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 25px;
    }
    .doc-nav a {
        padding: 1px 5px 1px 5px;
    }
}

@media (max-width: 800px) {
    .doc-nav a {
        font-size: 1.2rem;
    }
}

@media (min-width: 1251px) {
    .doc-nav {
        height: calc(100% - 200px);
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 200px;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }
}

.subtitle {
    color: white;
    font-size: 0.8em;
    padding: 15px;
}

.corner-badge a {
    color: #CCC;
}
