/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Now apply relevant style */

body {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.3em;
    color: #222
}

.top {
    background: linear-gradient(to left, #09a5b8, #076591);
}

.title {
    color: white;
}

.top-under {
    height: 2px;
    margin-top: 2px;
    margin-bottom: 48px;
    background: linear-gradient(to left, #09a5b8, #076591);
}

.content-wrapper {
    margin: 0 auto;
    max-width: 800px;
}

.block {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 22px;
    padding-bottom: 32px;
}

@media (width < 600px) {
    .block {
        flex-direction: column;
    }
}

.block img {
    padding: 10px;
}

#logo {
    width: 150%;
    height: 150%;
    max-width: 256px;
    max-height: 256px;
}

ol, ul {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 45px;
}

p {
    margin-left: 20px;
}

a {
    color: #2674d3;
}

code, pre.codeblock {
    font-family: 'Inconsolata', monospace;
}

pre {
    margin: 15px;
}

#replterm {
    border-radius: 2px 2px 0 0;
    border-top: solid #CCC 1px;
    border-left: solid #CCC 1px;
    border-right: solid #CCC 1px;
    font-family: 'Inconsolata', monospace;
    padding: 10px;
    height: 350px;
    margin: 10px 10px 0 10px;
    color: black;
    overflow-x: hidden;
    overflow-y: auto;
}

#replinbar {
    border-radius: 0 0 2px 2px;
    border: solid #CCC 1px;
    font-family: 'Inconsolata', monospace;
    margin: 0 10px 10px 10px;
    color: black;
    display: flex;
    background: #F8F8F8;
}

#replprompt {
    padding: 10px;
    display: inline-block;
    margin: 0;
    color: #9198e5;
    flex-shrink: 0;
}

#replin {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    width: 100%;
    transition: background 0.3s;
    text-indent 2px;
}

#replin:focus {
    outline: none;
    background: #F0F0F0;
}

#replin br {
    display: none;
}

#replin * {
    display: inline;
    white-space: nowrap;
}

h1, h2, h3 {
    margin-left: 8px;
    margin-right: 8px;
    font-family: 'Dosis', sans-serif;
    color: #111;
}

h1 {
    font-size: 3.6rem;
    padding-top: 60px;
    padding-bottom: 32px;
}

@media (width < 500px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 2rem;
    padding-top: 32px;
    padding-bottom: 24px;
}

h3 {
    color: #333;
    font-size: 1.6rem;
    padding-top: 18px;
    padding-bottom: 16px;
}

hr {
    height: 2px;
    background: linear-gradient(to left, #09a5b8, #076591);
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    margin: 32px auto;
    text-align: center;
}

