{$
(defn render-toc
  [state node]
  {:tag "li"
  "class" (if (node :pages) "caret")
  :content [{:tag "span" 
              "class" (if (or (= (state :url) (node :url))
                              (= (state :url) (string (node :url) "/index.html"))) "selected")
              :content {:tag "a" "href" (node :url) :content (or (node :nav-title) (node :title))}}
             (if-let [pages (node :pages)]
                {:tag "ul"
                :content (map (partial render-toc state) pages)})]})
$}

{%
# Evaluated for every invocation of the template
(def total-order @[])
(defn visit
  [node]
  (if-let [ps (node :pages)]
    (do 
      (if (node :index) (array/push total-order (node :index)))
      (each page ps (visit page)))
    (array/push total-order node)))
(visit sitemap)
(defn findrel [offset]
  (def len (length total-order))
  (def my-index (find-index (fn [x] (= url (x :url))) total-order))
  (def index (% (+ my-index len offset) len))
  (total-order index))
(def page-next (findrel 1))
(def page-prev (findrel -1))
%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ (state :title) }}</title>
    <meta name="description" content="{{ (or (state :description) `Janet is a functional and imperative programming language. It runs on Windows, Linux, macOS, FreeBSD and *nix.`) }}">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/docpage.css" type="text/css" media="screen" charset="utf-8">
    <link rel="shortcut icon" href="assets/favicon.ico">

    <!-- Open Graph -->
    <meta property="og:description" content="{{ (or (state :description) `Janet is a functional and imperative programming language. It runs on Windows, Linux, macOS, FreeBSD and *nix.`) }}" />
    <meta property="og:title" content="{{ (state :title) }}" />
    <meta property="og:type" content="website" />
  </head>
  <body>

    <div id="toc-toggle" class="">
      <div class="bar topbar"></div>
      <div class="bar"></div>
      <div class="bar botbar"></div>
    </div>
    <script charset="utf-8">
      function toggleToc() {
        var toggler = document.getElementById('toc-toggle');
        var wrapper = document.querySelector('.toc');
        wrapper.classList.toggle('toc-hidden');
        toggler.classList.toggle('open');
        window.localStorage.setItem('show-toc', toggler.classList.contains('open'));
      }
      function addTocToggle() {
        var el = document.getElementById('toc-toggle');
        if (window.localStorage.getItem('show-toc') === 'true') {
          toggleToc()
        }
        el.addEventListener('click', toggleToc);
      }
      window.addEventListener('DOMContentLoaded', addTocToggle);
    </script>

    <div class="twocol">
      <div class="toc toc-hidden">
        <ul>
          {{ (seq [sm :in (sitemap :pages)] (render-toc state sm)) }}
        </ul>
      </div>
      <div class="content-wrapper main-content">
        <h4 class="subtitle">Janet {{ janet/version }} Documentation</h4>
        <h1 class="subtitle">{{ (state :title) }}</h1>
        <div class="prevnext-bar">
          <span class="prev"><a href="{{ (page-prev :url) }}"><span class="prevnext-text">{{ (page-prev :title) }}</span></a></span>
          <span class="next"><a href="{{ (page-next :url) }}"><span class="prevnext-text">{{ (page-next :title) }}</span></a></span>
        </div>
        {{ content }}
        <div class="prevnext-bar">
          <span class="prev"><a href="{{ (page-prev :url) }}"><span class="prevnext-text">{{ (page-prev :title) }}</span></a></span>
          <span class="next"><a href="{{ (page-next :url) }}"><span class="prevnext-text">{{ (page-next :title) }}</span></a></span>
        </div>
      </div>
    </div>

    {{ {:template "footer"} }}

  </body>
</html>
