{%(def page-content (markdown (slurp content))) ""%}<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{%title%}</title>
    <meta name="description" content="{% description %}">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/docpage.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Inconsolata|Open+Sans">
    <link rel="shortcut icon" href="assets/favicon.ico">

    <!-- Open Graph -->
    <meta property="og:description" content="Janet is a functional and imperative programming language. It runs on Windows, Linux, macOS, FreeBSD and *nix." />
    <meta property="og:title" content="{% title %}" />
    <meta property="og:type" content="website" />
  </head>
  <body>

    <div class="top">
      <div class="content-wrapper">
        <h1 class="title">{% title %}</h1>
        <div class="subtitle">Janet {% janet/version %} Documentation</div>
      </div>
    </div>
    <div class="top-under"></div>

    <div class="doc-nav">
      <div><a class='{% (if (= (opts "--out") "out/introduction.html") "selected" "") %}' 
        href="introduction.html">Introduction</a></div>
      <div><a class='{% (if (= (opts "--out") "out/syntax.html") "selected" "") %}' 
        href="syntax.html">Syntax</a></div>
      <div><a class='{% (if (= (opts "--out") "out/numbers.html") "selected" "") %}' 
        href="numbers.html">Numbers</a></div>
      <div><a class='{% (if (= (opts "--out") "out/bindings.html") "selected" "") %}' 
        href="bindings.html">Bindings</a></div>
      <div><a class='{% (if (= (opts "--out") "out/flow.html") "selected" "") %}' 
        href="flow.html">Flow</a></div>
      <div><a class='{% (if (= (opts "--out") "out/functions.html") "selected" "") %}' 
        href="functions.html">Functions</a></div>
      <div><a class='{% (if (= (opts "--out") "out/strings.html") "selected" "") %}' 
        href="strings.html">Strings</a></div>
      <div><a class='{% (if (= (opts "--out") "out/string_library.html") "selected" "") %}' 
        href="string_library.html">String Library</a></div>
      <div><a class='{% (if (= (opts "--out") "out/data_structures.html") "selected" "") %}' 
        href="data_structures.html">Data Structures</a></div>
      <div><a class='{% (if (= (opts "--out") "out/arrays.html") "selected" "") %}' 
        href="arrays.html">Arrays</a></div>
      <div><a class='{% (if (= (opts "--out") "out/tables.html") "selected" "") %}' 
        href="tables.html">Tables</a></div>
      <div><a class='{% (if (= (opts "--out") "out/buffers.html") "selected" "") %}' 
        href="buffers.html">Buffers</a></div>
      <div><a class='{% (if (= (opts "--out") "out/loop.html") "selected" "") %}' 
        href="loop.html">Looping</a></div>
      <div><a class='{% (if (= (opts "--out") "out/macros.html") "selected" "") %}' 
        href="macros.html">Macros</a></div>
      <div><a class='{% (if (= (opts "--out") "out/destructuring.html") "selected" "") %}' 
        href="destructuring.html">Destructuring</a></div>
      <div><a class='{% (if (= (opts "--out") "out/fibers.html") "selected" "") %}' 
        href="fibers.html">Fibers</a></div>
      <div><a class='{% (if (= (opts "--out") "out/peg.html") "selected" "") %}' 
        href="peg.html">Peg</a></div>
      <div><a class='{% (if (= (opts "--out") "out/prototypes.html") "selected" "") %}' 
        href="prototypes.html">Prototypes</a></div>
      <div><a class='{% (if (= (opts "--out") "out/specials.html") "selected" "") %}' 
        href="specials.html">Specials</a></div>
      <div><a class='{% (if (= (opts "--out") "out/abstract_machine.html") "selected" "") %}' 
        href="abstract_machine.html">Abstract Machine</a></div>
    </div>

    <div class="content-wrapper">
      <div class="prevnext-bar">
        <a class="prev" href="{% (prev-page :link) %}">{% (prev-page :text) %}</a>
        <a class="next" href="{% (next-page :link) %}">{% (next-page :text) %}</a>
      </div>
      {% page-content %}
      <div class="prevnext-bar">
        <a class="prev" href="{% (prev-page :link) %}">{% (prev-page :text) %}</a>
        <a class="next" href="{% (next-page :link) %}">{% (next-page :text) %}</a>
      </div>
    </div>

    <footer>
      <hr>
      &copy; Calvin Rose {% ((os/date) :year) %}
      <div class="gentag">{% (string "Generated on " (nice-date)
        " with Janet " janet/version "-" janet/build) %}</div>
      <div class="see-problem">See a problem? Source
        <a href="https://github.com/janet-lang/janet-lang.org">on Github</a></div>
    </footer>

  </body>
</html>
