{%(import tools/findex :prefix "") ""%}<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{%title%}</title>
    <meta name="description" content="{% description %}">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/docpage.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Inconsolata|Open+Sans">
    <link rel="shortcut icon" href="assets/favicon.ico">

    <!-- Open Graph -->
    <meta property="og:description" content="Janet is a functional and imperative programming language. It runs on Windows, Linux, macOS, FreeBSD and *nix." />
    <meta property="og:title" content="{% title %}" />
    <meta property="og:type" content="website" />
  </head>
  <body>

    <div class="top">
      <div class="content-wrapper">
        <h1 class="title">{% title %}</h1>
        <div class="subtitle">Janet {% janet/version %} Documentation</div>
      </div>
    </div>
    <div class="top-under"></div>

    <div class="doc-nav">
      <div><a href="index.html">Home</a></div>

      <div><a class='{% (if (= (opts "--out") "out/introduction.html") "selected" "") %}'
        href="introduction.html">Introduction</a></div>
      <div><a class='{% (if (= (opts "--out") "out/syntax.html") "selected" "") %}'
        href="syntax.html">Syntax</a></div>
      <div><a class='{% (if (= (opts "--out") "out/specials.html") "selected" "") %}'
        href="specials.html">Special Forms</a></div>
      <div><a class='{% (if (= (opts "--out") "out/numbers.html") "selected" "") %}'
        href="numbers.html">Numbers</a></div>
      <div><a class='{% (if (= (opts "--out") "out/bindings.html") "selected" "") %}'
        href="bindings.html">Bindings</a></div>
      <div><a class='{% (if (= (opts "--out") "out/flow.html") "selected" "") %}'
        href="flow.html">Flow</a></div>
      <div><a class='{% (if (= (opts "--out") "out/functions.html") "selected" "") %}'
        href="functions.html">Functions</a></div>
      <div><a class='{% (if (= (opts "--out") "out/strings.html") "selected" "") %}'
        href="strings.html">Strings</a></div>
      <div><a class='{% (if (= (opts "--out") "out/string_library.html") "selected" "") %}'
        href="string_library.html">String Library</a></div>
      <div><a class='{% (if (= (opts "--out") "out/data_structures.html") "selected" "") %}'
        href="data_structures.html">Data Structures</a></div>
      <div><a class='{% (if (= (opts "--out") "out/arrays.html") "selected" "") %}'
        href="arrays.html">Arrays</a></div>
      <div><a class='{% (if (= (opts "--out") "out/tables.html") "selected" "") %}'
        href="tables.html">Tables</a></div>
      <div><a class='{% (if (= (opts "--out") "out/buffers.html") "selected" "") %}'
        href="buffers.html">Buffers</a></div>
      <div><a class='{% (if (= (opts "--out") "out/loop.html") "selected" "") %}'
        href="loop.html">Looping</a></div>
      <div><a class='{% (if (= (opts "--out") "out/macros.html") "selected" "") %}'
        href="macros.html">Macros</a></div>
      <div><a class='{% (if (= (opts "--out") "out/destructuring.html") "selected" "") %}'
        href="destructuring.html">Destructuring</a></div>
      <div><a class='{% (if (= (opts "--out") "out/fibers.html") "selected" "") %}'
        href="fibers.html">Fibers</a></div>
      <div><a class='{% (if (= (opts "--out") "out/peg.html") "selected" "") %}'
        href="peg.html">Peg</a></div>
      <div><a class='{% (if (= (opts "--out") "out/prototypes.html") "selected" "") %}'
        href="prototypes.html">Prototypes</a></div>
      <div><a class='{% (if (= (opts "--out") "out/object_oriented.html") "selected" "") %}'
        href="object_oriented.html">Object Oriented Programming</a></div>
      <div><a class='{% (if (= (opts "--out") "out/abstract_machine.html") "selected" "") %}'
        href="abstract_machine.html">Abstract Machine</a></div>
      <div><a class='{% (if (= (opts "--out") "out/funcindex.html") "selected" "") %}'
        href="funcindex.html">Function Index</a></div>
    </div>

    <div class="content-wrapper">
      <div class="prevnext-bar">
        <a class="prev" href="{% (prev-page :link) %}">{% (prev-page :text) %}</a>
        <a class="next" href="{% (next-page :link) %}">{% (next-page :text) %}</a>
      </div>
      <h3>Special Forms</h3>
      <p>These forms are recoginized as special by the compiler and define 
      the core Janet language. Most of the other functions in the core library
      are defined in terms of these forms, or are implemented in C for performance.</p>
      {% (listify specs) %}

      <h3>Defining Forms</h3>
      <p>These forms are shorthands for creating top level bindings.
      Note that the macro forms should only be used at the top level, otherwise
      they will be interpreted as normal functions.</p>
      {% (listify def-forms) %}

      <h3>Operators</h3>
      <p>These core operators are some of the most primitive and mathematical 
      operators, defining arithmetic and comparisons. There are also macros
      for C-style imperative manipulation of variables. Imperative programming 
      should mostly be internal to functions or very simple.</p>
      {% (listify operators) %}

      <h3>Flow Forms</h3>
      <p>Use these forms to add branching to your programming. 
      The most primitive branching structure is the if special form.</p>
      {% (listify flow-forms) %}

      <h3>Arrays</h3>
      <p>Arrays are mutable, order sequences of values. They are one of the
      core data types in Janet.</p>
      {% (listify array-funcs) %}

      <h3>Buffers</h3>
      <p>Buffer represent a mutable sequence of bytes. They are much like
      strings but can be modified and appended to. Buffers also support other
      operations that treat them like generic blocks of memory.</p>
      {% (listify buffer-funcs) %}

      <h3>Predicates</h3>
      <p>A predicate is a function of one argument that returns true or false.
      Predicates or most commonly used with combinators, like filter, keep, or find.</p>
      {% (listify predicates) %}

      <h3>Threading Macros</h3>
      <p>Threading macros are useful for creating pipelines. The Janet threading
      macros are borrowed from janet. They make deeply nested code more linear
      form, and usually easier to read.</p>
      {% (listify threading) %}

      <h3>String Functions</h3>
      <p>Strings in Janet represent both text and arbitrary byte sequences.
      Strings are immutable, so most operations on them will create new strings.</p>
      {% (listify string-funcs) %}

      <h3>Table Functions</h3>
      <p>The mutable hashtable type in Janet is very versatile and can be
      used for an associative array, prototype based OO, and execution environments.</p>
      {% (listify table-funcs) %}

      <h3>Struct Functions</h3>
      <p>Structs are janet's immutable hashtable type. They are very similar
      to tables but do not offer prototypes, and support value equality.
      They make great keys for other structs or tables.</p>
      {% (listify struct-funcs) %}

      <h3>Tuple Functions</h3>
      <p>Tuples are immutable lists. They are also the data type used
      to represent function calls, macro invocations, and special forms
      in Janet. They come in two flavors, bracketed and unbracketed tuples.
      </p>
      {% (listify tuple-funcs) %}

      <h3>Fiber Functions</h3>
      <p>Fibers represent a separate flow of execution in Janet, with it's own stack
      an execution context. Multiple fiber's can be run on the same OS thread, in this
      sense they are more fine grained than OS threads.</p>
      {% (listify fiber-funcs) %}

      <h3>Peg Functions</h3>
      <p>Pegs, or Parsing Expression Grammars, are Janet's main pattern matching facility, replacing
      regular expressions in other languages.</p>
      {% (listify peg-funcs) %}

      <h3>OS Functions</h3>
      <p>Janet offers several functions for operating with the OS in both platform dependent
      and platform independent ways.</p>
      {% (listify os-funcs) %}

      <h3>IO Functions</h3>
      <p>Janet offers basic file I/O for interacting with the file system.
      The file library is mostly
      a wrapper around the C stdio library.</p>
      {% (listify io-funcs) %}

      <h3>Module Functions</h3>
      <p>Interact with the Janet module system. Janet has a simple but not inflexible system
      for mapping module names to file paths, preventing modules from loading more than once, and
      import and exporting symbols from one module to another.</p>
      {% (listify module-forms) %}

      <h3>Assembler</h3>
      <p>Inspect or create functions from Janet bytecode</p>
      {% (listify asm-funcs) %}

      <h3>Macro Helpers</h3>
      <p>These functions and macros are useful for writing your own macros. Also checkout
      the quasiquote special form.</p>
      {% (listify macro-helpers) %}

      <h3>Looping</h3>
      <p>Besides the primitive while loop and tail recursion, Janet has a handful
      of macros for looping.</p>
      {% (listify loop-forms) %}

      <h3>Combinators</h3>
      <p>Combinators are what make up the bread and butter of the Janet core library. Combinators
      perform transformations on data structures or functions, resulting in code that is
      usually more succinct than imperative code. Use liberally.</p>
      {% (listify combinators) %}

      <h3>Miscellaneous Forms</h3>
      <p>Grab bag of other forms in the core library.</p>
      {% (listify misc-forms) %}
      <div class="prevnext-bar">
        <a class="prev" href="{% (prev-page :link) %}">{% (prev-page :text) %}</a>
        <a class="next" href="{% (next-page :link) %}">{% (next-page :text) %}</a>
      </div>
    </div>

    <footer>
      <hr>
      &copy; Calvin Rose {% ((os/date) :year) %}
      <div class="gentag">{% (string "Generated on " (nice-date)
        " with Janet " janet/version "-" janet/build) %}</div>
      <div class="see-problem">See a problem? Source
        <a href="https://github.com/janet-lang/janet-lang.org">on GitHub</a></div>
    </footer>

  </body>
</html>
