<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Janet Programming Language</title>
    <meta name="description" content="Janet is a functional and imperative programming language. It runs on Windows, Linux, macOS, and should run on other systems with some porting. The entire language (core library, interpreter, compiler, assembler) is less than 1MB while offering a very rich language and should run on many constrained systems.">
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/landing.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Inconsolata|Open+Sans">
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <link rel="canonical" href="https://janet-lang.org">

    <!-- Open Graph -->
    <meta property="og:description" content="Janet is a functional and imperative programming language. It runs on Windows, Linux, macOS, FreeBSD and *nix." />
    <meta property="og:title" content="The Janet Programming Language" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://janet-lang.org/" />
    <meta property="og:image" content="https://janet-lang.org/assets/janet-no-bg.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

  </head>
  <body>

    {{ {:template (require "ribbon.html")} }}

    <div class="top">
      <div class="content-wrapper">
        <h1 class="title">Janet Language</h1>

        <div class="block">
          <img id="logo" src="assets/janet-big.png" alt="janet-logo">
          <p>
            Janet is a functional and imperative programming language. It runs on Windows, Linux,
            macOS, BSDs, and should run on other systems with some porting. The entire language (core library,
            interpreter, compiler, assembler, PEG) is less than 1MB. You can also add Janet scripting
            to an application by embedding a single C source file and a single header.
          </p>
        </div>
      </div>
      <div class="carousel">
        <a href="https://github.com/janet-lang/janet/releases">Download</a>
        <a href="https://github.com/janet-lang/janet">Source</a>
        <a href="docs/index.html">Documentation</a>
        <a href="api/index.html">Core API</a>
        <a href="https://github.com/janet-lang/janet/discussions">Forum</a>
      </div>
    </div>
    <div class="top-under"></div>
    <div class="content-wrapper">

      {{ content }}

    </div>

    {{ {:template (require "footer.html")} }}

    <!-- Set up emscripten runtime -->
    <script type="text/javascript" src="js/ansi_up.js"></script>
    <script type='text/javascript' src="js/repl.js"></script>

    <!-- Load and start running janet -->
    <script async type="text/javascript" src="js/janet.js"></script>

  </body>
</html>
